<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="icon" href="https://mb.cision.com/Public/19541/0/9350206a992a5996_org.png" />
</head>
<body> 
    <div class="ui top attached menu">
        <div class="item">
            <img src="https://mb.cision.com/Public/19541/0/9350206a992a5996_org.png">
        </div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/admin/add-product">Add Product</a>
        <a class="item" href="/products">Our Products</a>
        <div class="right item">
            <i class="id flag"></i>
            <i class="gb uk flag"></i>
        </div>
    </div>
    <section>
        <div class="ui segment">
            <img class="ui centered large image" src="https://pandagila.com/wp-content/uploads/2020/08/error-404-not-found.jpg">
            <h1 style="text-align: center;">Ops.... Page not found !</h1>
        </div>
    </section>
</body>
</html>