<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="icon" href="https://mb.cision.com/Public/19541/0/9350206a992a5996_org.png" />
</head>
<body>
    <div class="ui top attached menu">
        <div class="item">
            <img src="https://mb.cision.com/Public/19541/0/9350206a992a5996_org.png">
        </div>
        <a class="item" href="/">Home</a>
        <a class="active item" href="/admin/add-product">Add Product</a>
        <a class="item" href="/products">Our Products</a>
        <div class="right item">
            <i class="id flag"></i>
            <i class="gb uk flag"></i>
        </div>
    </div>
    <div class="ui container">
        <div class="row">
            <div class="column">
                <h2 class="ui header">
                    <img class="ui image" src="https://image.shutterstock.com/image-vector/red-vector-banner-ribbon-hot-260nw-1176567643.jpg">
                    <div class="content">
                      Register Products
                    </div>
                </h2>
            </div>
        </div>
        <br/>
        <br/>
        <form class="ui form" action="/admin/add-product" method="POST"> 
          <h4 class="ui dividing header">Product Information</h4>
          <div class="eight wide field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Insert product title ....">
          </div>
          <div class="eight wide field">
            <label>Description</label>
            <textarea name="description" placeholder="Insert description of product ..."></textarea>
          </div>
          <div class="field">
            <label>Link Image</label>
            <input type="text" name="image" placeholder="Insert product image ....">
          </div>
          <div class="six wide field">
            <label>Price</label>
            <input type="number" name="price" placeholder="Rp. 0.0;">
          </div>
          <div class="six wide field">
            <label>Old Price</label>
            <input type="number" name="oldprice" placeholder="Rp. 0.0;">
          </div>
          <div class="six wide field">
            <label>Discount</label>
            <input type="number" name="discount" placeholder="x.x %">
          </div>
          <div class="six wide field">
            <label>Availability</label>
            <input type="text" name="available">
          </div>
          <div class="ui buttons">
            <button class="ui positive button" type="submit">Save</button>
            <div class="or"></div>
            <button class="ui button" type="reset">Cancel</button>
          </div>
        </form>
    </div>
</body>
</html>